{% extends 'layout.html' %}

{% block content %}
<!-- Wrapper -->
{% load static %}
{% load humanize %}

<div id="wrapper">

	<!-- Header -->
	<header id="header">
		<h1><a href="index.html"><strong>Movie Predictions</strong> by Carlos Puerta & Kayvan Jalali</a></h1>
		<nav>
			<ul>
				<li><a href="#footer" class="icon solid fa-info-circle">About</a></li>
			</ul>
		</nav>
	</header>

	<div id="search">
		<form style="display:flex" method="post" action>
			{% csrf_token %}
			<input type="text" id="search" name="searchmovie">
			<input type="submit" value="Search" style="margin: 10px">
		</form>
	</div>
	<!-- Main -->
	<div id="main">
		{% for movie in upcoming_movies %}
		<article class="thumb">
			<a href="{{movie.backdrop}}" class="image">
				<img src="{{movie.poster}}" alt="" />
			</a>
			{% if movie.status == "Released" %}
			<h2>{{movie.title}} - <span style="color: red">Recently Released</span></h2>
			{% else %}
			<h2>{{movie.title}} - <span style="color: red">{{movie.status}}</span></h2>
			{% endif %}
			<ul>
				<li>Date: {{movie.release_date|date:'M d, Y'}}</li>
				<li>Budget: ${{movie.budget|intcomma}}</li>
				<li>Language: {{movie.language}}</li>
				<li>Runtime: {{movie.runtime}} mins</li>
				<li>Actual Revenue: ${{movie.revenue|intcomma}}</li>
				<li><b>Predicted Revenue: ${{movie.predicted_revenue|intcomma}}</b></li>
			</ul>
			<p style="margin:0; padding:0">Genres</p>
			<ul id="gctag">
				{% for g in movie.genres %}
				<li>{{g.name}}</li>
				{% endfor %}
			</ul>
			<p style="margin:0; padding:0">Popular Cast</p>
			<ul id="gctag">
				{% for c in movie.lead_cast %}
				<li>{{c.name}} - {{c.task}}</li>
				{% endfor %}
			</ul>
			<p style="margin:0; padding:0">Popular Crew</p>
			<ul id="gctag" , style="padding-bottom: 20px">
				{% for c in movie.lead_crew %}
				<li>{{c.name}} - {{c.task}}</li>
				{% endfor %}
			</ul>
		</article>
		{% endfor %}

		{% for movie in best_movies %}
		<article class="thumb">
			<a href="{{movie.backdrop}}" class="image">
				<img src="{{movie.poster}}" alt="" />
			</a>
			<h2>{{movie.title}} - {{movie.release_date|date:'Y'}}</h2>
			<ul>
				<li>Date: {{movie.release_date|date:'M d, Y'}}</li>
				<li>Budget: ${{movie.budget|intcomma}}</li>
				<li>Language: {{movie.language}}</li>
				<li>Runtime: {{movie.runtime}} mins</li>
				<li>Actual Revenue: ${{movie.revenue|intcomma}}</li>
				<li><b>Predicted Revenue: ${{movie.predicted_revenue|intcomma}} | {{movie.predicted_rating}}</b></li>
			</ul>
			<p style="margin:0; padding:0">Genres</p>
			<ul id="gctag">
				{% for g in movie.genres %}
				<li>{{g.name}}</li>
				{% endfor %}
			</ul>
			<p style="margin:0; padding:0">Popular Cast</p>
			<ul id="gctag">
				{% for c in movie.lead_cast %}
				<li>{{c.name}} - {{c.task}}</li>
				{% endfor %}
			</ul>
			<p style="margin:0; padding:0">Popular Crew</p>
			<ul id="gctag" , style="padding-bottom: 20px">
				{% for c in movie.lead_crew %}
				<li>{{c.name}} - {{c.task}}</li>
				{% endfor %}
			</ul>
		</article>
		{% endfor %}

		{% for movie in movies %}
		<article class="thumb">
			<a href="{{movie.backdrop}}" class="image">
				<img src="{{movie.poster}}" alt="" />
			</a>
			<h2>{{movie.title}} - {{movie.release_date|date:'Y'}}</h2>
			<ul>
				<li>Date: {{movie.release_date|date:'M d, Y'}}</li>
				<li>Budget: ${{movie.budget|intcomma}}</li>
				<li>Language: {{movie.language}}</li>
				<li>Runtime: {{movie.runtime}} mins</li>
				<li>Actual Revenue: ${{movie.revenue|intcomma}}</li>
				<li><b>Predicted Revenue: ${{movie.predicted_revenue|intcomma}} | {{movie.predicted_rating}}</b></li>
			</ul>
			<p style="margin:0; padding:0">Genres</p>
			<ul id="gctag">
				{% for g in movie.genres %}
				<li>{{g.name}}</li>
				{% endfor %}
			</ul>
			<p style="margin:0; padding:0">Popular Cast</p>
			<ul id="gctag">
				{% for c in movie.lead_cast %}
				<li>{{c.name}} - {{c.task}}</li>
				{% endfor %}
			</ul>
			<p style="margin:0; padding:0">Popular Crew</p>
			<ul id="gctag" , style="padding-bottom: 20px">
				{% for c in movie.lead_crew %}
				<li>{{c.name}} - {{c.task}}</li>
				{% endfor %}
			</ul>
		</article>
		{% endfor %}
	</div>

	<!-- Footer -->
	<footer id="footer" class="panel">
		<div class="inner split">
			<div>
				<section>
					<h2>About this Movie Predictor</h2>
					<p>Movie Predictor is a machine learning algorithm that attemps to guess the performance of any
						movie. Made with love as a class project for DATA 602 using an HTML5 UP template.</p>
				</section>
			</div>
		</div>
	</footer>

</div>

{% endblock %}